<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Trust Wallet</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Umoja</a></li>
                        <li class="breadcrumb-item active">Trust Wallet</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end page-title -->
        <!-- START ROW -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        
                        <div><input type="text" class="form-control col-lg-4 mb-3" placeholder="Search..." /></div>
                        <div class="table-responsive">
                            <ngx-datatable class="col-12 bootstrap" #myTx [rows]="rows" [columns]="columns"> </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
    </div>
    <!-- container-fluid -->
</div>