<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Partners</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Umoja</a></li>
                        <li class="breadcrumb-item active">Partners</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end page-title -->
        <!-- START ROW -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <h6 class="mt-0 mb-4"><a href="/wallet" style="padding: 0 0 1.3em 0;
                            border-bottom: 2px solid black;
                            color: black;">Partner Details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/document">Documents</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/assigned-countries">Assigned Countries</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/deposit">Deposit</a>
                        </h6>
                        <hr>
                        <div class="">
                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" >
                                </div>
                
                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                                    <input type="text"  class="form-control" id="exampleFormControlInput1" >
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Country</label>
                                    <input type="text"  class="form-control" id="exampleFormControlInput1" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" >
                                </div>
                
                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Contact Person</label>
                                    <input type="text"  class="form-control" id="exampleFormControlInput1" >
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
                                    <input type="text"  class="form-control" id="exampleFormControlInput1" >
                                </div>
                            </div>

                            <div style="border-radius: 0.3em;border: 1px solid grey;padding: 1em;" class="mt-3 mb-3">
                                <h6>System Access Details</h6>
                                <div class="row mt-2">
                                    <div class="mb-3 col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" >
                                    </div>
                    
                                    <div class="mb-3 col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                                        <input type="password"  class="form-control" id="exampleFormControlInput1" >
                                    </div>
    
                                    <div class="mb-3 col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Whitelist IP</label>
                                        <input type="text"  class="form-control" id="exampleFormControlInput1" >
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-secondary">Save</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
    </div>
    <!-- container-fluid -->
</div>